<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <p> {{ verifyUrl }} </p>
    <a href="{{ verifyUrl }}"> Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
